In [2]:
import pandas as pd

# Assuming your dataset is in a CSV file named 'your_dataset.csv'
# Replace 'your_dataset.csv' with the actual file path if needed

In [10]:
file_path1 = 'daily_co_summary_data (1).csv'


# Read the datasets
df1 = pd.read_csv(file_path1)

In [11]:
df1.head()

,state_code,county_code,site_num,site_id,parameter_code,parameter_occurrence_code,coordinate,datum,parameter_name,sample_duration,...,air_quality_index,method_code,method_name,local_site_name,address,state_name,county_name,city_name,cbsa_name,date_of_last_change
0,50,7,9,6a322a2b5bc4890ab4e0b036eadaaabe,42101,1,"(0,0)",UNKNOWN,Carbon monoxide,8-HR RUN AVG END HOUR,...,7.0,NaN,-,NaN,LINCOLN ST. (BASEMENT OF TOWN OFFICES),Vermont,Chittenden,Essex (Essex Center),"Burlington-South Burlington, VT",2021-11-09
1,50,7,9,6a322a2b5bc4890ab4e0b036eadaaabe,42101,2,"(0,0)",UNKNOWN,Carbon monoxide,8-HR RUN AVG END HOUR,...,14.0,NaN,-,NaN,LINCOLN ST. (BASEMENT OF TOWN OFFICES),Vermont,Chittenden,Essex (Essex Center),"Burlington-South Burlington, VT",2021-11-09
2,50,7,9,6a322a2b5bc4890ab4e0b036eadaaabe,42101,1,"(0,0)",UNKNOWN,Carbon monoxide,8-HR RUN AVG END HOUR,...,7.0,NaN,-,NaN,LINCOLN ST. (BASEMENT OF TOWN OFFICES),Vermont,Chittenden,Essex (Essex Center),"Burlington-South Burlington, VT",2021-11-09
3,50,7,8,f30b09cab6cd3fd2df4abbe937cb86ff,42101,1,"(0,0)",UNKNOWN,Carbon monoxide,8-HR RUN AVG END HOUR,...,15.0,NaN,-,NaN,MAPLE STREET (BEHIND MOBIL STATION_),Vermont,Chittenden,Essex (Essex Center),"Burlington-South Burlington, VT",2021-11-09
4,50,7,8,f30b09cab6cd3fd2df4abbe937cb86ff,42101,1,"(0,0)",UNKNOWN,Carbon monoxide,8-HR RUN AVG END HOUR,...,23.0,NaN,-,NaN,MAPLE STREET (BEHIND MOBIL STATION_),Vermont,Chittenden,Essex (Essex Center),"Burlington-South Burlington, VT",2021-11-09

In [14]:
df1['date'] = pd.to_datetime(df1['date_of_last_change'])
df1['year'] = df1['date'].dt.year
df1['fips'] = df1['state_code'].astype(str).str.zfill(2) + df1['county_code'].astype(str).str.zfill(3)

grouped_df1 = df1.groupby(['fips', 'year'])['air_quality_index'].mean().reset_index()

In [15]:
grouped_df1.head()

    fips  year  air_quality_index
0  01073  2021          16.990069
1  01073  2022           4.160554
2  01089  2021          11.313836
3  01097  2021           6.594458
4  01101  2021           2.072000

In [17]:
len(grouped_df1)

603

In [18]:
file_path2 = 'daily_aqi_by_county_1980_2022.csv'
df2 = pd.read_csv(file_path2)

/var/folders/ct/8zb_pz7d4m50z9pphc0dpg3h0000gn/T/ipykernel_37239/2614038396.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2)

In [19]:
# Convert the 'date' column to datetime
df2['Date'] = pd.to_datetime(df2['Date'])
df2['year'] = df2['Date'].dt.year
df2['fips'] = df2['State_Code'].astype(str).str.zfill(2) + df2['County_Code'].astype(str).str.zfill(3)
df2 = df2.rename(columns={'AQI': 'air_quality_index'})

# Group by 'state_name', 'county_name', and year, and calculate the average AQI
grouped_df2 = df2.groupby(['fips', 'year'])['air_quality_index'].mean().reset_index()

In [20]:
# Merge datasets on 'State_Name' and 'county_Name'
merged_df = pd.merge(grouped_df1, grouped_df2, how='outer', left_on=['fips'], right_on=['fips'])



# Convert the 'Date' column to datetime

merged_df.head()

    fips  year_x  air_quality_index_x  year_y  air_quality_index_y
0  01073  2021.0            16.990069    1980            62.563218
1  01073  2021.0            16.990069    1981            77.936986
2  01073  2021.0            16.990069    1982            67.594521
3  01073  2021.0            16.990069    1983            65.764384
4  01073  2021.0            16.990069    1984            52.379781

In [21]:
len(merged_df)

45595

In [22]:
merged_df.to_csv('merged_yearly_fips.csv', index=False)